.commercialServiceContainer {
  /* Box Model */
  display: flex;
  justify-content: flex-end;

  /* Position */
  position: relative;
}

.img {
  /* Box Model */
  height: 31rem;
  width: 63rem;

  /* Visual */
  background: url('/icons/about/3-commercialservice/bg.png') no-repeat center center / cover;

  /* Position */
    /* Position */
    position: absolute;
    top: 50%;
    left: 8.5%;
    transform: translateY(-50%);
    z-index: 1;
}

.content {
  /* Box Model */
  height: 39rem;
  width: 85rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding: 8rem;

  /* Visual */
  background: var(--red);
}
.content div {
  width: 50rem;
  color: var(--white);
}
.content div h1 {
  /* Tipography */
  font-size: 4.4rem;
}
.content div p {
  /* Box Model */
  margin-top: 1.8rem;

  /* Tipography */
  font-size: 1.4rem;
}