.headerContainer {
  /* Box Model */
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;

  /* Visual */
  background: var(--white);
  box-shadow: 0 -3px 10px grey;
}

.logo img {
  width: 17rem;
}

.navBar{
  /* Box Model */
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 55%;
}
.navBar ul {
  /* Box Model */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 3.7rem;
}
.navBarLink {
  /* Typography */
  color: var(--text1);
  font-weight: 500;
  font-size: 1.4rem;

  /* Position */
  position: relative;
}
.navBarLink:hover::after {
  content: '';
  display: inline;
  width: 0;
  height: 0.2rem;
  background:var(--red);
  position: absolute;
  bottom: -.2rem;
  left: 0;
  animation: slide 0.2s linear forwards;
}
.navBar button {
  /* Box Model */
  padding: 1.2rem 0; 
  border: 0 none;
  border-radius: 0.5rem;
  width: 25rem;

  /* Visual */
  color: var(--white);
  background: var(--red);
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
}
.navBar button:hover {
  opacity: 0.9;
}

.navBarLinkAcitve {
  font-weight: 600;
}
.navBarLinkAcitve::after {
  content: '';
  display: inline;
  width: 100%;
  height: 0.2rem;
  background:var(--red);
  position: absolute;
  bottom: -.2rem;
  left: 0;
  pointer-events: none;
  animation-name: slide;
  animation-play-state: paused;
}

/* Keyframes */
@keyframes slide {
  100% {
    width: 100%;
  }
}