.formContainer {
  /* Box Model */
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 60vh;
  padding-top: 7rem;
}

.formContainer h1 {
  /* Box Model */
  margin-bottom: 4rem;

  /* Tipography */
  font-size: 4rem;
}