
/* Banner Container */
.bannerContainer {
  /* Box Model */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 0;
}

.bannerLeft {
  /* Box Model */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 40%;
  min-height: 22rem;
}
.bannerLeft h1 {
  font-size: 4.4rem;
  font-weight: 500;
  text-transform: uppercase;
}
.bannerLeft h1 > strong {
  font-weight: 900;
}
.bannerLeft h2 {
  font-size:3.6rem;
  margin: 1.7rem 0;
}

.bannerRight {
  /* Box Model */
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 60%;
  height: 100%;

  /* Position */
  z-index: 0;
}
.bannerRight img {
  width: 40%;
  align-self: flex-end;
}
.bannerRight img:nth-last-child(2) {
  width: 30rem;
  height: 43rem;
}
.bannerRight img:nth-last-child(1) {
  transform: translateX(-3rem);
  width: 39rem;
  height: 34rem;
}

/* Services Container */
.servicesContainer {
  /* Box Model */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;

  /* Visual */
  background: var(--red);

  /* Position */
  position: relative;
  z-index: 1;
}
.servicesContainer div {
  /* Box Model */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0 5rem;
  justify-self: center;

  /* Position */
  position: relative;
}
.servicesContainer div:nth-last-child(2)::before {
  content: '';
  display: inline-block;
  height: 100%;
  width: 1px;
  background: var(--white);
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.servicesContainer div:nth-last-child(2)::after {
  content: '';
  display: inline-block;
  height: 100%;
  width: 1px;
  background: var(--white);
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.service h1 {
  /* Tipography */
  font-size: 1.4rem;
  text-transform: capitalize;

  /* Box Model */
  margin-top: 1rem;
  margin-bottom: 1.2rem;
}
.service p {
  /* Tipography */
  color: var(--white);
  text-align: center;

  /* Box Model */
  margin-bottom: 1.2rem;
  max-width: 27rem;
}
.service button {
  /* Tipography */
  font-size: 1.6rem;
  /* Visual */
  background: #F6FAFB;
  
  /* Box Model */
  border: none 0;
  border-radius: .5rem;
  height: 3.2rem;
  width: 11.5rem;

}
.service button:hover {
  /* Visual */
  filter: brightness(.9);
}

/* Video Container */
.videoContainer {
  /* Box Model */
  height: 80vh;
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.videoBox {
  /* Box Model */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 100%;

  /* Visual */
  background: url('/icons/4-video/video_img.svg') no-repeat center center / cover;
}
.videoBox svg {
  /* Tipography */
  font-size: 7.3rem;

  /* Visual */
  color: var(--red);
  cursor: pointer;

  /* Position */
  transform: translateX(30rem);
}
.videoBox svg:hover {
  filter: brightness(.9);
}

.videoText {
  /* Box Model */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 47%;
  height: 80%;
  padding: 2rem 5rem;

  /* Visual */
  background: rgba(255, 255, 255, 0.7);
}
.videoText h1 {
  font-size: 4.4rem;
  text-transform: capitalize;
}
.videoText p {
  /* Tipography */
  font-size: 1.4rem;

  /* Box Model */
  margin-top: 1.2rem;
  margin-bottom: 3rem;
}

/* Company History Container */
.companyHistoryContainer {
  /* Box Model */
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* Visual */
  background: var(--red);
}

.companyHistoryImg {
  /* Box Model */
  width: 63rem;
  height: 31.5rem;

  /* Visual */
  background: url('/icons/5-company_history/company_history_img.svg') no-repeat center center / cover;
  transform: scaleX(-1);
}

.companyHistoryText {
  /* Box Model */
  width: 40%;
  height: 90%;

  /* Visual */
  color: var(--white);
}
.companyHistoryText h1 {
  /* Tipography */
  font-size: 4.4rem;

  /* Box Model */
  margin-bottom: 2rem;
}
.companyHistoryText h2 {
  /* Tipography */
  font-size: 3rem;
  font-weight: 300;

  /* Box Model */
  margin-top: 3rem ;
  margin-bottom: 2rem ;
}
.companyHistoryText p {
  /* Tipography */
  font-size: 1.4rem;
}

/* Plumber Points Container */
.plumberPointsContainer {
  /* Box Model */
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50vh;
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.plumberPointsText {
  /* Box Model */
  width: 90%;

  /* Tipography */
  text-align: center;
}
.plumberPointsText h1 {
  /* Box Model */
  margin-bottom: 1.6rem;

  /* Tipography */
  font-size: 3rem;
  text-transform: uppercase;
}
.plumberPointsText p {
  /* Tipography */
  font-size: 1.6rem;

  /* Color */
  color: var(--text3);
}

.plumberPointsTags {
  /* Box Model */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  gap: 3rem 15rem;
  margin-top: 5rem;
}
.point {
  display: flex;
  width: 100%;
  height: 100%;
}
.point img {
  margin-right: 1rem;
  width: 1.5rem;
  height: 1.5rem;
}
.point p {
  font-size: 1.4rem;
  font-weight: 500;
}

/* Image Container */
.imageContainer {
  /* Box Model */
  height: 30vh;
  width: 100%;

  /* Visual */
  background: url('/icons/7-section_img/section_img.svg') no-repeat center center / cover;
}

/* Team Container */
.teamContainer {
  /* Box Model */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.teamText {
  /* Box Model */
  width: 86rem;

  /* Tipography */
  text-align: center;
}
.teamText h1 {
  /* Box Model */
  margin-bottom: 1.6rem;

  /* Tipography */
  font-size: 3rem;
  text-transform: uppercase;
}
.teamText p {
  /* Tipography */
  font-size: 1.4rem;

  /* Color */
  color: var(--text3);
}

.teamEmployee {
  /* Box Model */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0 4rem;
  margin-top: 4.5rem;
  justify-content: center;
  align-items: center;
}

.employee {
  /* Box Model */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.employee img {
  height: 36.8rem;
}

.employeeText {
  /* Box Model */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 21rem;
  height: 7.8rem;

  /* Visual */
  background: var(--red);
  border-radius: 5px;
  color: var(--white);

  /* Tipography */
  font-size: 1.8rem;
}

