/* Image Container */
.imageContainer {
  /* Box Model */
  height: 30vh;
  width: 100%;

  /* Visual */
  background: url('/icons/home/7-section_img/section_img.svg') no-repeat center center / cover;
}

/* PROJECT CONTAINER */
.projectContainer {
  /* Box Model */
  display: flex;
  flex-direction: column;
}

.text {
  /* Box Model */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 0;
}
.text h1 {
  /* Tipography */
  font-size: 3rem;
  font-weight: 400;
  text-transform: uppercase;
}
.text p {
  /* Box Model */
  width: 65%;
  margin-top: 1.5rem;

  /* Tipography */
  font-size: 1.6rem;
  text-align: center;
  line-height: 2.3rem;
  
  /* Visual */
  color: var(--text3);
}

.grid {
  /* Box Model */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 6rem 4rem;
}

.project {
  /* Box Model */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 28rem;
  min-width: 35rem;

  /* Tipography */
  text-align: center;

}
.project img {
  /* Box Model */
  height: 100%;
  width: 100%;
}
.project h1 {
  /* Tipography */
  font-size: 1.4rem;
  line-height: 1.6rem;
  font-weight: 400;
  text-transform: uppercase;

  /* Visual */
  color: var(--red);
}
.project p {
  /* Tipography */
  font-size: 1.4rem;
  line-height: 1.6rem;
  font-weight: 500;

  /* Box Model */
  margin-top: .8rem;

}