html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 72.5%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --white: #fff;
  --black: #000;
  --text1: #222;
  --text2: #0E0E0E;
  --text3: #6D6D6D;
  --red: #DD3142;
  --background: #E5E5E5;
}

section {
  padding: 0 135px;
}

a,
ul,
li {
  color: inherit;
  text-decoration: none;
  list-style: none;
}

button {
  cursor: pointer;
}

@media screen and (max-width: 1400px) {
  html,
  body {
    font-size: 62.5%;
  }

  section {
    padding: 0 100px;
  }
}

@media screen and (max-width: 1200px) {
  section {
    padding: 0 80px;
  }
}
@media screen and (max-width: 1080px) {
  section {
    padding: 0 40px;
  }
}